# ============================================
# Visual Studio Build Outputs & Temp Files
# ============================================
.vs/
x64/
x86/
Debug/
Release/
[Bb]in/
[Ob]j/

# Visual Studio User Settings & Caches
*.user
*.suo
*.userosv
*.sln.docstates
*.db
*.opendb
*.ipch

# Compiled Executables, Libraries & Linker Output
*.exe
*.dll
*.obj
*.o
*.ilk
*.pdb
*.tlog
*.log
*.idb

# Mac / Windows System Files
.DS_Store
Thumbs.db